@import 'import';
.container {
    max-width: 1900px !important;
    padding: 0 15px;
}

.flex-row {
    display: flex !important;
    @media screen and (max-width: 991px) {
        flex-direction: column !important;
    }
}

.sectionTitle {
    font-size: rem(65px);
    color: var(--white);
    font-weight: 700;
    padding-bottom: rem(20px);
    text-align: center;
    position: relative;
    margin-bottom: rem(35px);
    font-family: $primary-font;
    @media screen and (max-width: 991px) {
        font-size: rem(50px);
        margin-bottom: rem(25px);
    }
    @media screen and (max-width: 575px) {
        font-size: rem(40px);
    }
    &:after {
        content: "";
        position: absolute;
        width: 70px;
        height: 3px;
        background: var(--primary);
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}

h3 {
    color: var(--white);
    font-size: rem(40px);
    font-weight: 600;
    margin-bottom: rem(45px);
    @media screen and (max-width: 991px) {
        font-size: rem(30px);
        margin-bottom: rem(30px);
    }
}

section {
    padding: rem(120px) 0;
    position: relative;
    @media screen and (max-width: 991px) {
        padding: rem(60px) 0;
    }
    @media screen and (max-width: 767px) {
        padding: rem(40px) 0;
    }
}


/* width */

::-webkit-scrollbar {
    width: 4px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #000;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--primary);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}