@import "import";
.slider-services {
  .swiper-slide {
    margin: rem(25px) 0px;
    @include prefixer(transition, all 0.4s ease-in-out, o moz wibket);
  }
}
.swiper-slide-active {
  .slider-item {
    transform: translateY(-19px);
    a {
      opacity: 1 !important;
    }
  }
}
.custom-btn {
  text-transform: uppercase;
  width: 230px;
  height: 60px;
  border-radius: 25px;
  text-align: center;
  line-height: 60px;
  color: $whiteColor;
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}
.menuOpen header {
  display: none;
}
.header-div {
  // background-image: url("../img/home/bg-home.jpg");

  height: auto;
  background-size: cover;
  background-position: center;
  padding-bottom: rem(40px);
  position: relative;
  z-index: 1;
  @media (max-width: 991.98px) {
    height: auto;
    padding-bottom: rem(80px);
  }
  @include small_medium {
    // height: 85vh;
  }
  &::after {
    // @include postionEle(0, 0, 0, absolute, #0a2333ad, 100%, 100%);
    content: "";
    z-index: -1;
    // @include postionEle(0, 0, 0, absolute, #265c71d1, 100%, 100%);
    @include postionEle(0, 0, 0, absolute, #0a233375, 100%, 100%);
  }
  &.bg-opaciy {
    &::after {
      background-color: #0b1a21e6;
    }
  }
  .header-slider {
    .heaer-slider-item {
      outline: none;
      margin-top: rem(250px);
      @media screen and (max-width: 1600px) {
        margin-top: rem(200px);
      }
      @media screen and (max-width: 991px) {
        margin-top: rem(250px);
      }
      @media screen and (max-width: 575px) {
        margin-top: rem(220px);
      }
      h2 {
        color: $whiteColor;
        width: 67%;
        text-align: center;
        margin: auto;
        line-height: 1.4;
        font-size: rem(42px);
        margin-bottom: rem(60px);
        @media (max-width: 991.98px) {
          width: 90%;
          margin-bottom: rem(15px);
          font-size: rem(35px);
          line-height: 1.2;
        }
        @include small_medium {
          font-size: rem(20px);
        }
      }
      .slider-search {
        cursor: pointer;
        @extend %d-flex-center;
        background-color: $whiteColor;
        border-radius: 45px;
        width: 90%;
        height: 105px;
        text-align: center;
        margin: auto;
        // line-height: 105px;
        padding-inline-start: rem(63px);
        padding-inline-end: rem(28px);
        position: relative;
        @media (max-width: 1600px) {
          height: 90px;
          border-radius: 30px;
        }
        @media (max-width: 991.98px) {
          width: 100%;
          height: 80px;
          line-height: 80px;
        }
        @include xSmall {
          height: 60px;
          line-height: 60px;
          padding-inline-start: rem(26px);
          padding-inline-end: rem(13px);
        }
        @media (max-width: 350px) {
          padding-inline-start: 14px;
        }
        // new
        span.search-icon {
          background-color: #009cde;
          width: 75px;
          height: 75px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            color: #ffffff;
            width: 32px;
          }
          @media (max-width: 991.98px) {
            width: 60px;
            height: 60px;
          }
          @include xSmall {
            width: 40px;
            height: 40px;
            svg {
              width: 22px;
            }
          }
          @include xxSmall {
            width: 30px;
            height: 30px;
            svg {
              width: 18px;
            }
          }
        }
        // new
        img {
          width: 75px;
          @media (max-width: 991.98px) {
            width: 60px;
          }
          @include xSmall {
            width: 40px;
          }
          @include xxSmall {
            width: 30px;
          }
        }
        &::before {
          @include textAbsolute(23px, 63px, absolute, $mainColor, 24px);
          content: "Search";
          z-index: 666;
          color: $thirdColor;
          // @include fonts($Gotham-Book, 24px);
          font-size: rem(24px);
          font-weight: 400;
          @media (max-width: 1600px) {
            top: 13px;
            left: 50px;
          }
          @media (max-width: 991.98px) {
            top: -17px;
            font-size: 18px;
          }
          @include xSmall {
            font-size: 14px;
            top: -11px;
            left: 25px;
          }
        }
        p {
          flex-grow: 3;
          text-align: left;
          margin-top: rem(40px);
          @media screen and (max-width: 1600px) {
            margin-top: rem(30px);
          }
          span.vue-typer {
            cursor: pointer;
          }
          span.vue-typer span {
            cursor: pointer;
            font-size: rem(22px);
            font-weight: 300;
            //   @include fonts($Gotham-Light, 22px);
            color: $grayColor;
            position: relative;
            margin-bottom: 0;
            @include small_medium {
              font-size: rem(14px);
              margin-top: rem(13px);
            }
            @include xxSmall {
              //     font-size: rem(10px);
            }
          }
        }
      }
      > p {
        text-align: center;
        //    @include fonts($Gotham-bold, 17px);
        font-size: rem(17px);
        font-weight: 700;
        color: $whiteColor;
        margin-top: rem(60px);
        text-transform: uppercase;
        @media (max-width: 991.8px) {
          margin-top: rem(20px);
        }
        @include small_medium {
          font-size: rem(14px);
        }
        svg {
          margin-inline-end: 15px;
          display: inline-block;
          width: 50px;
          fill: $mainColor;
          @include xSmall {
            width: 30px;
          }
        }
        a {
          text-decoration: underline;
          @include prefixer(transition, all 0.3s ease-in-out, o wibket moz);
          &:hover {
            color: $mainColor;
          }
        }
      }
      .watch-video {
        display: flex;
        margin-top: rem(80px);
        padding-bottom: 7px;
        @media (max-width: 991.8px) {
          margin-top: rem(45px);
        }
        @include xSmall {
          margin-top: rem(20px);
        }
        .animate-video {
          position: relative;
          cursor: pointer;
          @include prefixer(transition, all 0.3s ease-in-out, o moz wibket);
          &:hover {
            transform: scale(0.7);
            div {
              display: block;
              opacity: 0;
              animation: pulse 1s ease-out infinite;
            }
          }
          span {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $mainColor;
            text-align: center;
            @include small_medium {
              width: 60px;
              height: 60px;
              i {
                font-size: 20px;
              }
            }
          }
          div {
            @include postionEle(
              // -8px,
              // 16px,
              // auto,
              // absolute,
              // transparebt,
              // 100px,
              // 100px
              -2.5px,
              16px,
              auto,
              absolute,
              transparebt,
              95px,
              95px
            );
            right: 16px;
            border: 2px solid $mainColor;
            border-radius: 50%;
            // opacity: 0;
            // animation: pulse 1s ease-out infinite;
            // display: none;
            @include small_medium {
              width: 70px;
              height: 70px;
              left: 4px;
              // right: 10px;
              top: 0px;
            }
            @media screen and (max-width: 575px) {
              left: 5px;
            }
          }
        }
        div {
          span {
            text-transform: uppercase;
            display: block;
            color: $whiteColor;
            margin-top: 5px;
            text-align: center;
            margin-inline-start: 24px;
            text-align: left;
            &:first-child {
              //     @include fonts($Gotham-bold, 16px);
              font-size: rem(16px);
              font-weight: 700;
            }
            &:last-child {
              //     @include fonts($Gotham-Book, 16px);
              font-size: rem(16px);
              font-weight: 400;
            }
            @include small_medium {
              margin-inline-start: rem(12px);
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .container-right {
    margin-right: 0;
    padding-left: rem(15px);
    margin-left: calc(50vw - 375px);
    max-width: auto;
  }
}
@media screen and (max-width: 768px) {
  .container-right {
    padding-left: rem(15px);
  }
}
@media screen and (max-width: 575px) {
  .container-right {
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
}
@media (min-width: 992px) {
  .container-right {
    margin-right: 0;
    margin-left: calc(50vw - 485px);
    max-width: auto;
  }
}

@media (min-width: 1200px) {
  .container-right {
    margin-right: 0;
    margin-left: calc(50vw - 585px);
  }
}
/*-------- Animate -------------*/

@keyframes pulse {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
.row {
  padding: 0;
}
body {
  background-color: #fff;
  &.overflow-hidden {
    overflow-y: hidden;
  }
}
a {
  color: $whiteColor;
  outline: none;
  border: none;
  &:hover {
    text-decoration: none;
    color: $whiteColor;
  }
  &:focus {
    outline: none;
    border: none;
  }
}
input {
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}

.abs-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  color: transparent;
  font-size: 0;
  text-indent: -2px;
}

/* --------.main-common---------- */
.main-common {
  padding-top: rem(61px);
  padding-bottom: rem(37px);
  @media (max-width: 1199.98px) {
    padding-top: rem(25px);
  }
  h2 {
    font-family: "Gotham-bold";
    font-size: rem(36px);
    color: #234156;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    @include small_medium {
      font-size: rem(25px);
    }
  }
  p {
    color: $mainColor;
    margin-top: 0;
    margin-bottom: rem(24px);
    //     @include fonts($AlegreyaSans-Regular, 24px);
    font-size: rem(24px);
    font-weight: 400;
    @include small_medium {
      font-size: rem(16px);
    }
  }
  svg {
    width: 60px;
    height: 60px;
    color: $thirdColor;
    margin-bottom: rem(30px);
    margin-top: rem(19px);
    @media (max-width: 1199.98px) {
      margin-bottom: rem(17px);
    }
  }
  .slider-header {
    div {
      &:last-child {
        margin-bottom: rem(50px);
        display: flex;
        // align-items: center;
        @media (max-width: 991.98px) {
          margin-bottom: 0;
        }
        @include large {
          margin-top: rem(24px);
        }
        a {
          margin-top: rem(10px);
          @include prefixer(transition, all 0.3s ease-in-out, o moz wibket);
          // @include fonts($Gotham-Book, 24px);
          font-size: rem(24px);
          font-weight: 400;
          color: $thirdColor;
          text-transform: capitalize;
          margin-inline-end: rem(20px);
          position: relative;
          z-index: 1;
          &:hover {
            color: $mainColor;
          }
          @media (max-width: 1199.98px) {
            font-size: rem(18px);
          }
        }
        ul {
          //   @extend %d-flex-around;
          li {
            display: inline-block;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid $mainColor;
            @include prefixer(transition, all 0.3s ease-in-out, o moz wibket);
            &:hover {
              background-color: $secondColor;
              border: none;
              &:i {
                color: #000;
              }
            }
            &:last-child {
              margin-inline-start: rem(10px);
            }
            i {
              color: $mainColor;
              font-size: rem(20px);
            }
          }
        }
      }
    }
  }
  .slider-services {
    .slider-item {
      cursor: pointer;
      border: none;
      outline: none;
      background-color: $whiteColor;
      border-radius: 30px;
      padding: rem(21px) rem(30px) rem(20px) rem(30px);
      margin: rem(25px) 0;
      // margin-inline-end: 20px;
      box-shadow: -3px 1px 10px #ccc;
      min-height: 272px;
      @include prefixer(transition, all 0.7s ease-in-out, o moz wibket);
      position: relative;
      &:hover {
        transform: translateY(-19px);
        a {
          opacity: 1;
        }
      }
      a {
        display: block;
        color: $mainColor;
        text-align: right;
        opacity: 0;
        @include prefixer(transition, all 0.5s ease-in-out, o moz wibket);
        &:hover {
          color: $secondColor;
        }
      }

      h4 {
        //    @include fonts($Gotham-bold, 18px);
        font-size: rem(18px);
        font-weight: 700;
        color: $thirdColor;

        //    @media (max-width: 1299.98px) {
        //      font-size: rem(13px);
        //    }
      }
      span {
        @include fonts($Gotham-Light, 16px);
        font-weight: 400;
        font-size: rem(16px);
        color: $thirdgray;
        @include truncate(2, 1.5);
      }
    }
    .slick-current {
      transform: translateY(-19px);
      a {
        opacity: 1;
        @include prefixer(transition, all 0.3s ease-in-out, o wibket moz);
        &:hover {
          color: $secondColor;
        }
      }
    }
  }
}
/* --------.main-common---------- */

/* --------.o-services---------- */
.o-services {
  padding-top: rem(85px);
  padding-bottom: rem(70px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $whiteColor;
  text-align: center;
  h2 {
    text-align: center;
    //     @include fonts($Gotham-bold, 36px);
    font-size: rem(36px);
    font-weight: 700;
    margin-bottom: 20px;
  }
  p {
    //     @include fonts($AlegreyaSans-Regular, 24px);
    font-size: rem(24px);
    font-weight: 400;
    margin-bottom: 66px;
  }
  .services-content {
    margin-bottom: rem(75px);
    outline: none;
    border: none;
    .row {
      > div {
        @include medium {
          padding: 0;
        }
        @include small_medium {
          margin-bottom: rem(25px);
        }
      }
    }
    img {
      display: inline-block;
    }
    h6 {
      margin-top: 25px;
      //  @include fonts($Gotham-bold, 18px);
      font-size: rem(20px);
      font-weight: 700;
      //  @media (max-width: 1199.98px) {
      //    font-size: 14px;
      //  }
    }
    span {
      //  @include fonts($AlegreyaSans-Regular, 14px);
      font-weight: 400;
      font-size: rem(16px);
    }
  }
  a {
    display: block;
    //     @include fonts($Gotham-Book, 21px);
    font-size: rem(21px);
    font-weight: 400;
    @include prefixer(transition, all 0.3s ease-in-out, o wibket moz);
    &:hover {
      color: $mainColor;
    }

    i {
      margin-inline-start: 15px;
    }
  }
  .slick-prev,
  .slick-next {
    top: 39%;
    // z-index: 88888;
    z-index: 100;
    &:hover:before {
      color: $mainColor;
    }
    @include xSmall {
      top: 35%;
    }
  }
  .slick-next {
    @include xSmall {
      right: -4px;
    }
  }
  .slick-prev {
    @include xSmall {
      left: -4px;
    }
  }

  .slick-prev:before {
    font-family: "FontAwesome";
    content: "\f104";
    font-size: rem(25px);
    font-weight: bold;
  }
  .slick-next:before {
    font-family: "FontAwesome";
    content: "\f105";
    font-size: rem(25px);
    font-weight: bold;
  }
}
/* --------.o-services---------- */

.mb-30 {
  margin-bottom: rem(30px) !important;
}

/* --------.initiators---------- */
.initiators {
  //   background-image: url("../img/home/bg-initators.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: rem(18px);
  border-bottom: 1px dashed #000;
  padding-top: rem(90px);
  @include small_medium {
    padding-bottom: 0px;
    padding-top: rem(40px);
  }
  .slick-slider {
    @include xSmall {
      padding: 0 8px;
    }
  }
  .slick-list {
    padding-top: rem(30px);
    padding-bottom: rem(30px);
  }

  .slider-header {
    h2 {
      //  @include fonts($Gotham-Book, 36px);
      font-size: rem(36px);
      font-weight: 400;
      color: $thirdColor;
      position: relative;
      z-index: 1;
      @include small_medium {
        //    font-size: 27px;
        margin-bottom: 5px;
      }
    }
    p {
      //  @include fonts($Gotham-Book, 24px);
      font-size: rem(24px);
      font-weight: 400;
      color: $mainColor;
      margin-bottom: 0px;
      position: relative;
      z-index: 1;
      @include small_medium {
        font-size: rem(16px);
        margin-bottom: rem(20px);
      }
    }
    div {
      &:last-child {
        display: flex;
        justify-content: center;
        margin-bottom: rem(37px);
        @include small_medium {
          justify-content: flex-end;
        }
        a {
          // font-family: "Gotham-Book";
          font-size: rem(24px);
          color: #234156;
          text-transform: capitalize;
          margin-inline-end: rem(20px);
          margin-top: rem(10px);
          position: relative;
          z-index: 1;
          @include prefixer(transition, all 0.3s ease-in-out, o moz wibket);
          &:hover {
            color: $mainColor;
          }
          @media (max-width: 1024px) {
            font-size: rem(18px);
          }
        }
        ul {
          //   @extend %d-flex-around;
          li {
            display: inline-block;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid $mainColor;
            @include prefixer(transition, all 0.3s ease-in-out, o moz wibket);
            &:hover {
              background-color: $secondColor;
              border: none;
              &:i {
                color: #000;
              }
            }
            &:last-child {
              margin-inline-start: rem(10px);
            }
            i {
              color: $mainColor;
              font-size: rem(20px);
            }
          }
        }
      }
    }
  }
  .slider-services {
    .slider-item {
      outline: none;
      border: none;
      margin-inline-end: rem(15px);
      cursor: pointer;
      @include prefixer(transition, all 0.7s ease-in-out, o moz wibket);
      filter: drop-shadow(2px 4px 6px #ccc);
      .slider-item-photo {
        img {
          width: 100%;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          max-height: 260px;
        }
      }
      .slider-item-content {
        display: flex;
        justify-content: center;
        background-color: $whiteColor;
        padding: 0 rem(30px);
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        @media (max-width: 1299.98px) {
          padding: 0 7px;
        }
        & > div {
          &:first-child {
            width: 35%;
            padding-top: rem(30px);
            padding-inline-end: rem(25px);
            margin-inline-end: rem(25px);
            border-inline-end: 1px dashed;
            position: relative;
            @media (max-width: 1199.98px) {
              padding-inline-end: rem(13px);
              margin-inline-end: rem(14px);
            }
            svg {
              width: 72px;
              margin-bottom: rem(17px);
              @media (max-width: 1199.98px) {
                margin-bottom: 7px;
              }
            }
            a {
              //     @include fonts($Gotham-bold, 13px);
              font-size: rem(13px);
              font-weight: 700;
              color: $mainColor;
              @include prefixer(transition, all 0.3s ease-in-out, o wibket moz);
              &:hover {
                color: $secondColor;
              }
            }
          }
          &:last-child {
            padding-top: rem(30px);
            padding-bottom: rem(30px);
            h6 {
              //     @include fonts($Gotham-bold, 20px);
              font-size: rem(20px);
              font-weight: 700;
              margin-bottom: rem(20px);
              min-height: 48px;
              @media (max-width: 1299.98px) {
                //  font-size: 15px;
                margin-bottom: 8px;
              }
            }
            p {
              //     @include fonts($AlegreyaSans-Regular, 15px);
              font-size: rem(15px);
              font-weight: 400;
              margin-bottom: 0;
              @media (max-width: 1199.98px) {
                //  font-size: 13px;
              }
            }
          }
        }
      }
      &:hover {
        transform: translateY(-19px);
      }
    }
    .slick-current {
      transform: translateY(-19px);
    }
  }
}
/* --------.initiators---------- */

main {
  ul {
    &:not([class]) {
      margin-left: rem(35px);
    }
    li {
      margin-bottom: rem(18px);
      &::marker {
        color: #d31b88;
      }
    }
  }
  ol {
    &:not([class]) {
      margin-left: rem(35px);
    }
    li {
      margin-bottom: rem(18px);
    }
  }
  // .nav{
  //     li{
  //         &::before{
  //             content: unset;
  //         }
  //     }
  // }
}

// Nice scrollbar vue
.content-scroll {
  --thumbColor: #d31b88;
  --railColor: #000000;
  width: 100%;
  min-width: 100px;
  max-height: 450px;
  .inner-scroll {
    min-width: 100%;
    padding-right: rem(20px);
  }
  /deep/ {
    .nice-bar-slider-x {
      display: none;
    }
    .nice-bar-rail-y {
      background: var(--railColor);
      opacity: 0;
      transition: 0.8s ease opacity;
      .nice-bar-slider-y {
        background: var(--thumbColor);
      }
    }
  }
  &:hover {
    .nice-bar-rail-y {
      opacity: 1;
    }
  }
}

// Vue Select css
.v-select {
  .vs__dropdown-toggle {
    border: 0;
    background: transparent;
    min-height: 38px;
  }
  .vs__selected {
    color: #5d5d5d;
    font-size: rem(20px);
    font-weight: 400;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .vs__dropdown-option {
    color: #5d5d5d;
    font-size: rem(20px);
    font-weight: 400;
    border-bottom: solid 1px #f5f5f3;
    margin: rem(0px) rem(10px);
    padding: rem(15px) 0;
    padding-left: rem(20px);
    line-height: 1;
  }
  .vs__dropdown-option--highlight {
    background: transparent;
    background-color: #f6f6f6;
    color: #000;
    font-weight: bold;
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23009cde;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M420,42.28c-141.16,0-256,114.83-256,256s114.84,256,256,256,256-114.84,256-256-114.84-256-256-256ZM549.75,244,411.08,382.69a21.32,21.32,0,0,1-30.16,0l-69.33-69.33a21.33,21.33,0,1,1,30.16-30.17L396,337.44,519.59,213.86A21.33,21.33,0,1,1,549.75,244Zm0,0' transform='translate(-164 -42.28)'/%3E%3C/svg%3E") !important;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    background-position: 95% 20px;
    @media screen and (max-width: 1600px) {
      background-position: 95% center;
    }
  }
  .vs__actions {
    position: relative;
    //padding-right: rem(30px);
    //padding-left: rem(30px);
    padding-left: 0;
    padding-right: 0;
    .vs__open-indicator {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid var(--toggleColor);
    }
  }
}

// pagination
.pagination {
  border: unset;
  padding: 5px 0;
  li.page-item {
      a {
          background: transparent;
          border: unset;
          color: #717171;
          font-weight: bold;
          font-size: rem(18px);
          padding: rem(12px) rem(15px);
          margin: 0px rem(15px);
          &:active {
              box-shadow: unset !important;
          }
          &.page-link {
              outline: 2px dashed transparent;
              outline-offset: 0px;
              &:focus {
                  box-shadow: unset;
                  outline-color: var(--primary);
              }
          }
          &:hover {
              opacity: 0.75;
          }
      }
      span {
          background: transparent;
          border: unset;
          padding: rem(12px) rem(15px);
          margin: 0px rem(15px);
      }
      &:first-child {
          display: none !important;
      }
      &:nth-child(2) {
          // display: flex;
          // align-items: center;
          display: none !important;
          a,
          span {
              position: relative;
              &::before {
                  content: '';
                  width: 22px;
                  height: 30px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239152a1'%3E%3Cpath fill-rule='evenodd' d='M21.190,12.572 L1.825,0.476 C1.517,0.287 1.149,0.400 0.934,0.759 C0.718,1.117 0.711,1.628 0.916,1.997 L7.285,13.488 L0.916,24.978 C0.711,25.347 0.718,25.860 0.933,26.216 C1.077,26.460 1.293,26.591 1.512,26.591 C1.618,26.591 1.724,26.561 1.824,26.498 L21.189,14.403 C21.454,14.237 21.623,13.881 21.623,13.488 C21.623,13.094 21.454,12.738 21.190,12.572 Z'/%3E%3C/svg%3E");
                  transform: translate(-50%, -50%) rotate(180deg);
                  background-size: cover;
                  background-repeat: no-repeat;
                  // background-position: rem(10px) rem(7px);
                  // @media screen and (min-width:1600px) {
                  //     background-position: rem(10px) rem(5px);
                  // }
              }
          }
          a {
              font-size: 0;
              padding-top: rem(20px);
          }
          span {
              font-size: 0px;
          }
      }
      &:nth-last-child(2) {
          // display: flex;
          // position: relative;
          // align-items: center;
          display: none !important; 
          a,
          span {
              position: relative;
              &::before {
                  content: '';
                  width: 22px;
                  height: 30px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239152a1'%3E%3Cpath fill-rule='evenodd' d='M21.190,12.572 L1.825,0.476 C1.517,0.287 1.149,0.400 0.934,0.759 C0.718,1.117 0.711,1.628 0.916,1.997 L7.285,13.488 L0.916,24.978 C0.711,25.347 0.718,25.860 0.933,26.216 C1.077,26.460 1.293,26.591 1.512,26.591 C1.618,26.591 1.724,26.561 1.824,26.498 L21.189,14.403 C21.454,14.237 21.623,13.881 21.623,13.488 C21.623,13.094 21.454,12.738 21.190,12.572 Z'/%3E%3C/svg%3E");
                  transform: translate(-50%, -50%);
                  background-size: cover;
                  background-repeat: no-repeat;
                  // background-position: rem(10px) rem(8px);
                  // @media screen and (min-width:1600px) {
                  //     background-position: rem(10px) rem(6px);
                  // }
              }
          }
          a {
              font-size: 0px;
              padding-top: rem(20px);
          }
          span {
              font-size: 0px;
          }
      }
      &:last-child {
          display: none !important;
      }
      &.active {
          a {
              color: #fff;
              background: var(--primary);
              pointer-events: none;
              &:hover {
                  opacity: 1;
              }
          }
      }
  }
}