.form-group {
    margin-bottom: rem(25px);
    position: relative;
    outline: none;
}

.form-control {
    font-size: rem(20px);
    color: #a4b1b9;
    background: #fff;
    padding: rem(23px) rem(15px);
    outline: none;
    border-style: solid;
    border-color: #e6eaec;
    border-width: 2px;
    border-radius: 5px;
    font-weight: 400;
    &.active {
        outline: none;
        box-shadow: none;
        border-radius: 0;
    }
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: var(--primary);
    }
    &:read-only {
        background: transparent;
    }
    @include input-placeholder {
        color: #000;
        font-size: rem(20px);
    }
}

textarea {
    &.form-control {
        resize: none;
        height: rem(110px);
        padding-top: rem(20px);
        line-height: normal;
        overflow-y: unset;
        @media screen and (max-width: 991px) {
            height: rem(70px);
        }
    }
}