/*

	Basic, low level typography

*/
a {
  color: #fff;
  outline: none;
  border: none;
}
// p,
// span,
// h1,
// h2,
// h3,
// h4,
// h5 {
//   outline: 3px dashed transparent;
//   outline-offset: 5px;
//   &:focus-within {
//     outline-color: var(--highlight);
//   }
// }

// div {
//   outline: 3px dashed transparent;
//   outline-offset: 2px;
//   &:focus {
//     outline-color: var(--highlight);
//   }
// }

p {
}

@media screen and (max-width: 1025px) {
  a:hover {
    text-decoration: none !important;
  }
}

$typography-elems: "ul", "ol";
$media-elems: ".blockquote", ".button-wrapper", ".media", ".table-wrapper";
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 1rem;
  line-height: 1;
  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include font-size($h--1);
  color: #000000;
  font-weight: 900;
}

h2 {
  @include font-size($h--2);
}

h3 {
  @include font-size($h--3);
}

h4 {
  @include font-size($h--4);
}

h5 {
  @include font-size($h--5);
}

h6 {
  @include font-size($h--6);
  margin-bottom: rem(30px);
}

p {
  font-size: $p;
  margin: 0 0 rem(20px) 0;
  line-height: 1.2;
}

// Basic typography styling
#{$typography-elems},
#{$media-elems} {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

ol,
ul {
  padding: 0;
  margin: 0;
  // list-style:none;
}

// Stylistic elements
b,
strong {
  font-weight: 700;
}
