:root {
  --primary: #019cde;
  --secondary: #224156;
  --yellow: #d1c12f;
  --textcolor: #444444;
  // --highlight: #eada2f;
  --highlight: #cf0073;
  --bg: #f8f8f8;
  --nav-item-offset: 10vw;
  --nav-item-hover-offset: 2%;
  --easing: cubic-bezier(0.8, 0, 0.2, 1);
  --duration: 0.6s;
  --overlay-bg: #000 !important;
  --transition-duration: 0.4s !important;
  --toggleColor: var(--primary);
}

// @font-face {
//     font-family: 'qt_zain_bold';
//     src: url("fonts/qt_zain_bold/qt_zaintext_bold_pcwebfont.eot");
//     src: url("fonts/qt_zain_bold/qt_zaintext_bold_pcwebfont.eot?#iefix") format("embedded-opentype"),
//     url("fonts/qt_zain_bold/qt_zaintext_bold_pcwebfont.woff") format("woff"),
//     url("fonts/qt_zain_bold/qt_zaintext_bold_pcwebfont.ttf") format("truetype"),
//     url("fonts/qt_zain_bold/qt_zaintext_bold_pcwebfont.svg#qt_zaintext_bold_pcbold") format("svg");
//     font-weight: normal;
//     font-style: normal; }
// @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
@import "functions";
// Fonts
$primary-font: "Gotham", sans-serif;
// $arabic-font: 'qt_zaintext_bold_pcwebfont';
//** Primary Font
// font sizes
$h--1: (
  base: rem(36px),
  mobile: rem(25px),
  tablet: rem(30px),
  wide: rem(36px),
);
$h--2: (
  base: rem(22px),
  mobile: rem(18px),
  tablet: rem(20px),
  wide: rem(22px),
);
$h--3: (
  base: rem(20px),
  mobile: rem(16px),
  tablet: rem(18px),
  wide: rem(20px),
);
$h--4: (
  base: rem(20px),
  mobile: rem(16px),
  tablet: rem(18px),
  wide: rem(20px),
);
$h--5: (
  base: rem(24px),
  mobile: rem(20px),
  tablet: rem(22px),
  wide: rem(24px),
);
$h--6: (
  base: rem(24px),
  mobile: rem(20px),
  tablet: rem(22px),
  wide: rem(24px),
);
$p: rem(18px);
$p--large: rem(20px);
$p--medium: rem(16px);
$p--small: rem(12px);
$breakpoints: (
  mobile: 414px,
  tablet: 991px,
  wide: 1300px,
) !default;

$mainColor: #009cde;
$whiteColor: #fff;
$grayColor: #525252;
$secondGray: #6a6a6a;
$thirdgray: #404040;
$secondColor: #0a2333;
$grayOpacity: #f9f8f7;
$thirdColor: #234156;
$bg-input: #f4f8f7;
$opacity-color: rgba(36, 85, 107, 0.653);

/* fonts */
$Gotham-black: "Gotham-black";
$Gotham-bold: "Gotham-bold";
$Gotham-BoldItalic: "Gotham-BoldItalic";
$Gotham-Book: "Gotham-Book";
$Gotham-BookItalic: "Gotham-BookItalic";
$Gotham-Light: "Gotham-Light";
$Gotham-LightItalic: "Gotham-LightItalic";
$Gotham-MediumItalic: "Gotham-MediumItalic";
$Gotham-Thi: "Gotham-Thin";
$Gotham-ThinItalic: "Gotham-ThinItalic";
$Gotham-UltraItalic: "Gotham-UltraItalic";
$Gotham-XLight: "Gotham-XLight";
$Gotham-XLightItalic: "Gotham-XLightItalic";
$GothamRounded-Bold: "GothamRounded-Bold";
$GothamRounded-BoldItalic: "GothamRounded-BoldItalic";
$GothamRounded-Book: "GothamRounded-Book";
$GothamRounded-BookItalic: "GothamRounded-BookItalic";
$GothamRounded-Light: "GothamRounded-Light";
$GothamRounded-LightItalic: "GothamRounded-LightItalic";
$AlegreyaSans-Regular: "AlegreyaSans-Regular";
$AlegreyaSans-light: "AlegreyaSans-light";
